// ABOUT
// -----------------

.about
  color: $primary
  text-align: center

  +min-screen($small + 1px)
    .section-content
      width: calc(100% - #{$gap * 4})
      max-width: 340px

    .touchevents &
      .section-content::before
        content: ""
        +position(absolute, 50%, null, null, 50%)
        width: 120%
        padding-top: 120%
        background-color: $white
        transform: translate3d(-50%, -50%, 0) rotate(45deg)
        z-index: $zHidden

  +max-screen($small)
    z-index: $zBase

    .section-content
      width: 100%
      background-color: $white

      &::before
        content: ""
        +position(absolute, -50vw, null, null, 0)
        +square(0)
        border-left: 50vw solid transparent
        border-right: 50vw solid transparent
        border-bottom: 50vw solid $white
        z-index: $zHidden

      *
        position: relative
        top: -$gap

.about-title
  position: relative
  z-index: $zTop

  +min-screen($small + 1px)
    .no-touchevents &
      +center('both')
      padding-top: $gap
      z-index: $zBase

  +min-screen($medium + 1px)
    padding-top: $gap * 2
    +font(null, null, 11rem, null, null, .8)
    letter-spacing: 15px
    word-spacing: 15px

  +max-screen($medium)
    font-size: 8rem

  +min-max-screen($small + 1px, $medium)
    .touchevents &
      +center('both')
      margin-top: -200px

  +max-screen($small)
    margin-bottom: $gap * 2
    font-size: 4.25rem
    letter-spacing: 3px

  +max-screen($xSmall)
    font-size: 3.5rem

.about-lead
  font-size: 1.125rem

  &::after
    left: 50%
    margin-left: $separator * -.5

.about-copy
  display: inline-block
  margin-bottom: .8em
  +font(null, null, .9375rem, null, normal)

.about-cta
  margin: $gap * 2 0 $gap
