// CONTACT
// -----------------

// Link
.contact-link
  right: $gap * 2
  font-size: .875rem
  transform-origin: top left
  transform: translateX(100%) rotate(90deg) translateX(-50%)
  transition: letter-spacing $transitionDuration $transitionFunction

  .no-touchevents &:hover
    letter-spacing: 2px

// Wrapper
.overlay-content.contact
  background-color: $white
  color: $primary

  .overlay-close
    +position(absolute, 0, $gap * -2)

  +max-screen($small)
    .overlay-close
      +position(absolute, -30px, -30px)

// Title
.contact-title
  font-size: 2.375rem
  letter-spacing: 8px

  +max-screen($small)
    font-size: 1.5rem
    letter-spacing: 3px

.contact-lead
  margin-bottom: $gap
  font-size: 1.125rem
