// CONTACT
// -----------------

// Link
.contact-link
  color: $white
  font-size: .875rem
  transition: letter-spacing $transitionDuration $transitionFunction
  z-index: $zXTop

  &:hover
    letter-spacing: 2px

  body[data-section="work"] &
    color: $primary

  body[data-section="skills"] &
    color: $secondary

  +max-screen($small)
    display: inline-block
    width: 270px
    background-color: $primary
    line-height: 47px
    text-align: center

  +min-screen($small + 1px)
    +position(fixed, 50%, $gap * 2)
    transform-origin: top left
    transform: translateX(100%) rotate(90deg) translateX(-50%)


// Wrapper
.overlay-content.contact
  background-color: $white
  color: $primary

  .overlay-close
    +position(absolute, 0, $gap * -2)

// Title
.contact-title
  font-size: 2.375rem
  letter-spacing: 8px

.contact-lead
  margin-bottom: $gap
  font-size: 1.125rem
