// HOME
// -----------------

.home
  color: $white
  text-align: center

  .scroll-cta
    bottom: -$arrow - $gap

.logo
  display: inline-block
  +square($device)
  margin-bottom: 60px

.home-title
  font-size: 2.375rem
  letter-spacing: 27px

.home-lead
  margin-bottom: $gap * 2
  font-size: 1.875rem

// Scroll CTA
.scroll-cta
  +position(absolute, null, null, $gap, 50%)
  +size(30px, $arrow)
  margin-left: -15px
  transition: transform $transitionDuration $transitionFunction

  .no-touchevents &:hover
    transform: translateY(10px)

.shape-arrow
  +size(10px, 100%)
