// WORK
// -----------------

.work
  // +position(fixed, $gap, null, null, $gap)
  +size(calc(100vw - #{$gap}), calc(100vh - #{$gap}))
  color: $primary
  z-index: $zBase

  .section-content
    +square(100%)
    padding: $gap * 4 $gap * 4.5

.work-bg
  +center('both', fixed)
  +square($device * 2)
  background-color: $white
  opacity: 0

// Title
.work-title
  display: inline-block
  padding-bottom: 0
  font-size: .875rem

  &::after
    +position(absolute, null, -$separator - $gap * .5, 50%)

// Slideshow
.slideshow
  +size(100%, calc(100% - .875rem - #{$gap * 3}))
  max-width: 1024px
  margin: 0 auto

.slideshow-item
  display: table
  +square(100%)

.slideshow-image
  display: table-cell
  vertical-align: middle

// Description
.slideshow-description
  @extend .slideshow-image
  width: 300px

.slideshow-title
  display: inline-block
  font-size: 1.5rem
  letter-spacing: 4px

  &::after
    left: 0

.slideshow-lead
  margin-bottom: $gap * .5
  font-size: 1.125rem

.slideshow-copy
  margin-bottom: $gap
  font-size: .9375rem

// Navigation
.slideshow-nav
  height: $gap * 2
  text-align: center

.slideshow-prev
  margin: $gap $gap 0 0
  transform-origin: right top
  transform: rotate(90deg)
  transition: transform $transitionDuration $transitionFunction

  .no-touchevents &:hover
    transform: rotate(90deg) translateY($gap / 2)

.slideshow-next
  transform-origin: left top
  transform: rotate(-90deg)
  transition: transform $transitionDuration $transitionFunction

  .no-touchevents &:hover
    transform: rotate(-90deg) translateY($gap / 2)
