// WORK
// -----------------

.work
  +size(calc(100vw - #{$gap}), calc(100vh - #{$gap}))
  color: $primary
  z-index: $zBase

  .section-content
    +square(100%)
    padding: $gap * 4 $gap * 4.5

.work-bg
  +center('both', fixed)
  +square($device * 2)
  background-color: $white
  opacity: 0

// Title
.work-title
  display: inline-block
  height: $gap
  margin-bottom: 0
  padding-bottom: 0
  font-size: .875rem

  &::after
    +position(absolute, 5px, -$separator - $gap * .5)

// Slideshow
.slideshow
  position: relative
  +size(100%, calc(100% - #{$gap * 4}))
  max-width: 1024px
  margin: $gap auto

.slide
  display: none
  +center('vertical')
  width: 100%
  max-height: 100%
  font-size: 0
  opacity: 0

  &.init
    display: block
    opacity: 1

%slide-content
  display: inline-block
  vertical-align: middle

.slide-image
  @extend %slide-content
  width: calc(100% - 300px)
  height: 100%

  img
    max-height: 100%
    max-width: 100%

// Description
.slide-description
  @extend %slide-content
  width: 300px

.slide-title
  display: inline-block
  font-size: 1.5rem
  letter-spacing: 4px

  &::after
    left: 0

.slide-lead
  margin-bottom: $gap * .5
  font-size: 1.125rem

.slide-copy
  margin-bottom: $gap
  font-size: .9375rem

// Navigation
.slideshow-nav
  height: $gap
  text-align: center

%slideshow-nav-item
  display: inline-block
  +size(10px, 96px)
  vertical-align: top

.slideshow-prev
  @extend %slideshow-nav-item
  transform-origin: center top
  transform: rotate(90deg) translateX($gap / 2)
  transition: transform $transitionDuration $transitionFunction

  .no-touchevents &:hover
    transform: rotate(90deg) translateX($gap / 2) translateY($gap / 2)

.slideshow-next
  @extend %slideshow-nav-item
  transform-origin: center top
  transform: rotate(-90deg) translateX($gap / -2)
  transition: transform $transitionDuration $transitionFunction

  .no-touchevents &:hover
    transform: rotate(-90deg) translateX($gap / -2) translateY($gap / 2)
