// LAYOUT
// -----------------

*
  box-sizing: border-box

html, body
  position: relative
  +square(100%)

body
  opacity: 0
  font-size: 100%
  background-color: $secondary
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Video background
.video-bg
  +center('horizontal', fixed)
  bottom: 0
  +square(auto)
  min-width: 100%
  min-height: 100%
  z-index: 1

  &.inverse
    z-index: 0

.video-fallback
  +position(fixed, 0, null, null, 0)
  width: 100%
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  opacity: 0
  z-index: 0

  &.inverse
    background-image: url(#{$imagePath}video-inverse-fallback.jpg)

  +min-screen($medium + 2px)
    &.normal
      background-image: url(#{$imagePath}video-fallback.jpg)

  +max-screen($medium + 1px)
    &.normal
      background-image: url(#{$imagePath}mobile-bg.gif)

// Wrappers
.main
  position: relative
  width: 100%
  overflow: hidden

  &::before
    content: ""
    +position(fixed, $gap, null, null, $gap)
    +size(calc(100% - #{$gap * 2}), calc(100vh - #{$gap * 2}))
    background-color: $black
    opacity: .2
    z-index: 2

    +max-screen($small)
      +position(fixed, 0, null, null, 0)
      +square(100%)

  +min-screen($small + 1px)
    .no-touchevents &
      height: calc(500vh - #{$gap})

.ui
  color: $white
  z-index: $zTop

  +min-screen($small + 1px)
    +position(fixed, 50%)

// Device
.device-container
  +position(fixed, $gap, null, null, $gap)
  +size(calc(100vw - #{$gap * 2}), calc(100vh - #{$gap * 2}))
  overflow: hidden
  pointer-events: none
  z-index: $zBase

.device-wrapper
  +position(fixed, 50%, null, null, 50%)
  +square($device)
  margin-left: $device * -.5

  +max-screen($small)
    +square($device)
    margin-left: $device * -.5

.device
  +square(100%)
  border: $deviceBorder solid $white

  +max-screen($small)
    border-width: $deviceBorder

.device-border
  +position(absolute, 0, null, null, 0)
  +square(100%)
  z-index: $zHidden

  &.left
    border: 1px solid $white

  &.right
    border: 1px solid $primary
