// LAYOUT
// -----------------

*
  box-sizing: border-box

html, body
  position: relative
  +square(100%)

body
  font-size: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Video background
.video-bg
  +center('horizontal')
  bottom: 0
  +square(auto)
  min-width: 100%
  min-height: 100%
  z-index: $zHidden

// Wrappers
.main
  position: relative
  +size(100vw, 100vh)
  overflow: hidden

  &::before
    content: ""
    +position(absolute, $gap, null, null, $gap)
    +calc(width, "100% - #{$gap * 2}")
    +calc(height, "100% - #{$gap * 2}")
    background-color: $black
    opacity: .2
