// MENU
// -----------------

// Menu button
.menu-btn
  +center('vertical')
  left: $gap * 2
  +size(24px, 84px)
  color: $white
  z-index: $zXTop

  &::before, &::after
    content: ""
    +position(absolute, null, null, null, 50%)
    +size(1px, 24px)
    background-color: currentColor
    transition: transform $transitionDuration $transitionFunction

  &::before
    top: 0

  &::after
    bottom: 0

  .no-touchevents &:hover
    &::before
      transform: translateY(-3px)

    &::after
      transform: translateY(3px)

  body[data-section="work"] &
    color: $primary

  body[data-section="skills"] &
    color: $secondary

.burger
  +center('both')
  display: inline-block
  +square(24px)
  border: 1px solid currentColor

.burger-layer
  +position(absolute, 50%, null, null, 29%)
  +size(42%, 1px)
  background-color: currentColor

  &::before, &::after
    content: ""
    +position(absolute, null, null, null, 0)
    +square(100%)
    background-color: currentColor
    transition: transform $transitionDuration $transitionFunction

  &::before
    top: -3px

  &::after
    top: 3px

  .no-touchevents .menu-btn:hover &
    &::before
      transform: translateY(-1px)

    &::after
      transform: translateY(1px)

// Navigation
.overlay-content.menu
  border: $deviceBorder solid currentColor
  color: currentColor

  .overlay-close
    +position(absolute, -$deviceBorder, -$deviceBorder - $gap * 2)

.nav-item
  display: block
  margin: 64px 0
  width: 100%
  text-align: center

.nav-copy
  position: relative
  display: inline-block
  padding: 0 $gap * 1.5
  +font(null, null, 2.375rem, null, null, .94)
  letter-spacing: 4px
  overflow: hidden

  &::after
    content: ""
    +position(absolute, calc(50% - 2px), null, null, 0)
    +size(100%, 2px)
    background-color: currentColor
    transform: translateX(calc(-100% - 1px))
    transition: transform $transitionDuration $transitionFunction

  .no-touchevents .nav-item:hover &::after, .active &::after
    transform: translateX(0)
