// SECTION
// -----------------

.section
  position: relative
  +size(100%, 100vh)
  display: table

.section-content
  display: table-cell
  padding: $gap * 2
  vertical-align: middle
  z-index: $zBase
