// SECTION
// -----------------

.section
  position: relative
  width: 100%

  +min-screen($small + 1px)
    min-height: 100vh

.section-content
  +min-screen($small + 1px)
    .no-touchevents &
      +center('both', fixed)
      z-index: $zHidden

  +max-screen($small)
    position: relative
    width: 100%
    padding: 0 $gap * 2
    z-index: $zBase
