// FORM
// -----------------

.form
  position: relative
  +square(100%)
  padding: 52px $gap * 2 0
  overflow: hidden

  +max-screen($small)
    padding: $gapSmall * 2 $gapSmall * 2 0

.form-group
  margin-bottom: $gap * 2
  text-align: left

.form-input
  width: 100%
  padding: $gap / 3 0
  color: rgba($primary, .9)
  font-style: italic

  +max-screen($small)
    font-size: .9375rem

.form-textarea
  @extend .form-input
  margin-bottom: -7px
  padding: $gap / 2

// On focus animation
.form-label
  position: relative
  display: block
  width: 100%
  padding-top: 10px
  +font($primary, $sansSerif, 1.0625rem, 500)
  overflow: hidden

  &:before
    content: ""
    background-color: $primary
    +size(100%, 7px)
    +position(absolute, -3px)
    transform: scale3d(1, .1, 1)
    transform-origin: 50% 100%
    transition: transform $transitionDuration, background-color $transitionDuration
    transition-timing-function: cubic-bezier(.2, 1, .3, 1)

  &:after
    content: attr(data-content)
    +position(absolute, 0, null, null, 0)
    width: 100%
    padding-top: 20px
    color: $secondary
    opacity: 0
    transform: translate3d(0, 50%, 0)
    transition: opacity .3s, transform .3s
    transition-timing-function: cubic-bezier(.2, 1, .3, 1)

  .error &::before
    background-color: $error

  +max-screen($small)
    font-size: .9375rem

.form-label-copy
  position: relative
  display: block
  +font($primary, $sansSerif, 1.0625rem, 500)
  width: 100%
  padding-top: 10px
  transition: opacity .3s, transform .3s
  transition-timing-function: cubic-bezier(.2, 1, .3, 1)

  .error &
    color: $error

.form-input:focus
  & + .form-label:before
    background-color: $secondary
    transform: scale3d(1, 1, 1)

  & + .form-label:after
    opacity: 1
    transform: translate3d(0, 0, 0)

  & + .form-label .form-label-copy
    opacity: 0
    transform: translate3d(0, -50%, 0)

.form-action
  +position(absolute, null, null, 0, 0)
  width: 100%

.form-btn
  background-color: $primary
  color: $secondary
  line-height: $gap * 3

  +max-screen($small)
    line-height: $gap * 2

// Error message
.form-error
  +position(absolute, null, null, 0, 0)
  width: 100%
  background-color: $error
  color: $white
  line-height: $gap * 3

  +max-screen($small)
    padding: $gapSmall $gapSmall
    line-height: 1.2

// Success message
.form-success
  display: table
  +position(absolute, 0, null, null, 0)
  +square(100%)
  opacity: 0
  background-color: rgba($primary, .2)

.fs-bg
  +position(absolute, 0, null, null, 0)
  +square(100%)
  border-color: $white
  border-style: solid
  border-width: $overlayContent / 2 $deviceBorder

.fs-copy
  position: relative
  display: table-cell
  padding: $gap
  color: $white
  letter-spacing: 2px
  vertical-align: middle

// Placeholders
::-webkit-input-placeholder
  color: $primary
  font-style: italic
  opacity: .4

::-moz-placeholder
  color: $primary
  font-style: italic
  opacity: .4

\:-ms-input-placeholder
  color: $primary
  font-style: italic
  opacity: .4
