// TYPOGRAPHY
// -----------------

a
  text-decoration: none

svg
  +square(100%)
  fill: currentColor

%mainCopy
  +font(null, $sansSerif, null, 700)
  text-transform: uppercase

%bodyCopy
  +font(null, $serif, null, 400, italic, 1.4)

// Headings
.title
  margin-bottom: $gap
  @extend %mainCopy

.lead
  @extend %bodyCopy

// Links
.link
  @extend %mainCopy

// Buttons
.btn
  @extend %mainCopy
  width: 100%
  background-color: rgba($primary, .2)
  +font($primary, null, .875rem, null, null, $gap * 2)
  color: $primary
  letter-spacing: 2px
  text-align: center

  &.inverse
    background-color: $secondary
