// TYPOGRAPHY
// -----------------

a
  text-decoration: none

svg
  +square(100%)
  fill: currentColor

%mainCopy
  +font(null, $sansSerif, null, 700)
  text-transform: uppercase

%copy
  +font(null, $serif, null, 400, italic, 1.4)

// Headings
.title
  margin-bottom: $gap
  @extend %mainCopy

.lead
  @extend %copy

// Links
.link
  @extend %mainCopy
